.main-btn {
  padding: 12px 20px;
  min-width: 160px;

  border-radius: 25px;
  border: 1px solid var(--accent-text);

  color: var(--secondary-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--accent-text);
    border: 1px solid var(--accent-text);
  }

  &_padding {
    padding: 12px 38px;

    @media screen and (max-width: 767px) {
      display: flex;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.hero-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

// кнопка price
.main-btn_flex {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.btn-send {
  color: var(--dark-text-color);

  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
  }
}
