.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: scale(0);
  transition: transform 400ms ease-out;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;

  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 400ms ease-out;
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    fill: var(--accent-text);
  }
}

/* .close-btn-icon {
  fill: var(--logo-text-color);
} */
