:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-text-color: #555555;
  --secondary-text-color: #ffffff;
  --accent-text: #ff6c00;
  --dark-text-color: #303030;
  --suptitle-text-color: rgba(157, 164, 189, 0.6);
  --middle-text-color: #9da4bd;
  --dash-dark: rgba(157, 164, 189, 0.6);

  --price-bgc: #111319;
  --masters-bgc: #f7f7f7;
  --contacts-bgc: #191c26;
}
